<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.core.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="com.seckill.core.pojo.Order">
        <![CDATA[
          INSERT INTO `order` (order_no,user_id,is_valid,create_time)
          VALUES (#{orderNo},#{userId},#{isValid},SYSDATE())
        ]]>
    </insert>
    <update id="updateOrder" parameterType="com.seckill.core.pojo.Order">
      update order set is_valid = #{isValid} where order_no = #{orderNo}
    </update>
    <select id="queryOrderByNo" parameterType="java.lang.String" resultType="com.seckill.core.pojo.Order">
        <![CDATA[ SELECT otb.order_no,otb.user_id,otb.is_valid,otb.create_time,otb.pay_time FROM  `order` otb WHERE otb.order_no=#{orderNo} ]]>
    </select>
</mapper>